<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Weather App</title>
  <link rel="stylesheet" href="/css/styles.css" />

</head>
<body>
  <h1>Check the Weather</h1>
  <form action="/weather" method="POST">
    <input type="text" name="city" placeholder="Enter city" required />
    <button type="submit">Get Weather</button>
  </form>
</body>
</html>
